section.user
  .container.user-cont
    .user__wrap
      .user__left
        .user-info
          .address.user-info_box
            span.user-info_h Проживаю
            span.user-info_t Винница
          .age.user-info_box
            span.user-info_h Возраст
            span.user-info_t 23 года 
          .data.user-info_box  
            span.user-info_h Родился
            span.user-info_t 27 июня 1996
      .user__right.user-fix  
        p.text.text_i Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво