section.comment_and_form
  .container.comment_and_form-cont
    section.comment
      .comment__head
        h2.title Что обо мне говорят
        .comment__controlls
          span.comment__controlls_left
          span.comment__controlls_right
      .comment__wrap
        .comment__list
          .comment-block
            p.text.comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment-box
              .comment__user
                +image('content/user.jpg', 'comment__user-img')  
              .comment__info
                h4.comment-name Ковальчук Дмитрий
                p.text Основатель Loftschool 
          .comment-block
            p.text.comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment-box
              .comment__user
                +image('content/user.jpg', 'comment__user-img')  
              .comment__info
                h4.comment-name Ковальчук Дмитрий
                p.text Основатель Loftschool 
        .comment__list
          .comment-block
            p.text.comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment-box
              .comment__user
                +image('content/user.jpg', 'comment__user-img')  
              .comment__info
                h4.comment-name Ковальчук Дмитрий
                p.text Основатель Loftschool 
          .comment-block
            p.text.comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .comment-box
              .comment__user
                +image('content/user.jpg', 'comment__user-img')  
              .comment__info
                h4.comment-name Ковальчук Дмитрий
                p.text Основатель Loftschool         
                   
    section.form-sec
      h2.title.form-title Связаться со мной
      form.form
        .form__block
          label.form__box
            p.text.form__text Введите ваше имя
            input.form__inp
          label.form__box
            p.text.form__text Введите ваш e-mail
            input.form__inp
        label.form__comment
          p.text.form__text Сообщение к письму
          textarea.form__message
        button.btn отправить 