section.skill-sec
  +image('content/Руки.png', 'hand')
  .container.skill-sec__cont
    .skill-sec__info
      h2.title Чем я могу быть полезен вам
      p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    ul.skills
      li.skills__block
        h3.skills__block-title Front-end
        ul.skills-list
          li.skills-list__el
            .circle-off 
              span.skill-name HTML5
          li.skills-list__el
            .circle-off 
              span.skill-name CSS3 
          li.skills-list__el
            .circle-off 
              span.skill-name JavaScript
          li.skills-list__el
            .circle-off 
              span.skill-name Vue           
      li.skills__block
        h3.skills__block-title Workflow             
        ul.skills-list
          li.skills-list__el
            .circle-off 
              span.skill-name GIT
          li.skills-list__el
            .circle-off 
              span.skill-name Terminal
          li.skills-list__el
            .circle-off 
              span.skill-name Gulp
          li.skills-list__el
            .circle-off 
              span.skill-name Webpack        

